# Global excludes across all subdirectories - copied from postgres
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.dylib
*.dll
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov.info
coverage/
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# bdr specific
/bdr_init_copy
/bdr_resetxlog
/bdr_dump
/bdr_version.h
/bdr_pgbench_check
/scripts/bdr_initial_load
/log/
/results/
/tmp_check/
*~
/bdr-*.tar.bz2
/.distgitrev
/.distgittag
# autoconf output
/autom4te.cache/
/bdr_config_generated.h
# configure output
/Makefile
/run_tests
/config.log
/config.status
/extsql/bdr--0.[89].?.?.sql
/extsql/bdr--0.1?.0.?.sql
/extsql/bdr--0.1?.0.??.sql
/extsql/bdr--1.0.?.?.sql
/extsql/bdr--1.1.0.0.sql
/Makefile.global
/doc/Makefile
# Packages
bdr-*.asc
bdr-*.md5
