# Global excludes across all subdirectories - copied from postgres
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.dylib
*.dll
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov.info
coverage/
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# bdr specific
/bdr_init_copy
/bdr_resetxlog
/bdr_dump
/bdr_version.h
/bdr_pgbench_check
/scripts/bdr_initial_load
/log/
/results/
/tmp_check/
*~
/bdr-*.tar.bz2
/.distgitrev
/.distgittag
/bdr_init_copy_postgres.log
# autoconf output
/autom4te.cache/
/bdr_config_generated.h
# configure output
/Makefile
/run_tests
/config.log
/config.status
/extsql/bdr--0.10.0.0.sql
/extsql/bdr--0.10.0.1.sql
/extsql/bdr--0.10.0.10.sql
/extsql/bdr--0.10.0.11.sql
/extsql/bdr--0.10.0.2.sql
/extsql/bdr--0.10.0.3.sql
/extsql/bdr--0.10.0.4.sql
/extsql/bdr--0.10.0.5.sql
/extsql/bdr--0.10.0.6.sql
/extsql/bdr--0.10.0.7.sql
/extsql/bdr--0.10.0.8.sql
/extsql/bdr--0.10.0.9.sql
/extsql/bdr--0.9.1.0.sql
/extsql/bdr--0.9.2.0.sql
/extsql/bdr--0.9.3.0.sql
/extsql/bdr--1.0.0.[1-9].sql
/extsql/bdr--1.0.[1-9].[0-9].sql
/extsql/bdr--1.1.0.0.sql
/Makefile.global
/doc/Makefile
/bdr.conf.sample
# Packages
bdr-*.asc
bdr-*.md5
